@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(-53.56deg, rgba(19, 19, 25, 0) 42.28%,rgb(10, 34, 56) 104.325%),linear-gradient(141.19deg, rgba(19, 19, 25, 0) 60.088%,rgb(10, 34, 56) 99.283%),rgb(8, 8, 15);
    min-height: 100svh;
    color: #fff;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}